  <ion-modal-view class="list_modal">
    <ion-content>
        <ion-list>
            <ion-item href="#/app/world">
              BY CATEGORIES
            </ion-item>
            <ion-item href="#/app/world">
              Abstract
            </ion-item>
            <ion-item href="#/app/world">
             People
            </ion-item>
            <ion-item href="#/app/world">
             Animals
            </ion-item>
             <ion-item href="#/app/world">
              Food
            </ion-item>
             <ion-item href="#/app/world">
             World
            </ion-item>
        </ion-list>
    </ion-content>
  </ion-modal-view>
