<ion-view view-title="Contáctanos">
 <ion-content class="login_page register" >
</br></br></br></br></br>

    <form class="log_form">
         <div class="list list-inset">
          <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Nombre" ng-model="nombre" id="nombre">
          </label>

         <label class="item item-input">
                <i class="icon ion-at placeholder-icon"></i>
                <input type="email" placeholder="e-mail" ng-model="email1" id="email1">
            </label>

          <label class="item item-input">
                <i class="icon ion-information placeholder-icon"></i>
                <textarea cols="30" rows="10" placeholder="Descripción" style="background:#000;color:#edb200; " ng-model="descripcion" id="descripcion"></textarea>
          </label>


            
          <div class="row">
             <div class="col">
              <button class="button button-block sign_btn" ng-click="contacto()">
                Enviar
              </button>
             </div>
            </div>

         </div>
    </form>

  </ion-content>
  </ion-view>


